@import './variables.scss';

.form-container {
    height: 100%;
    display: grid;
}

.one-step {
    grid-template-rows: 80% 20%;
}

.multiple-steps {
    grid-template-rows: 10% 90%;
    grid-row-gap: 10px;
}

form {
    display: flex;
    overflow-y: auto;
}

.inputs-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
    padding: 18px;
}

.inputs-container::-webkit-scrollbar {
    width: 6px;
}

.inputs-container::-webkit-scrollbar-thumb {
    background: $main-color;
}

.inputs-container::-webkit-scrollbar-track {
    width: 2px;
}

.input-container {
    position: relative;
    margin-bottom: 5px;
    transition: all 0.3s;
    text-align: start;
}

.input-container:first-child {
    margin-top: auto;
}

.input-container:last-child {
    margin-bottom: auto;
}

.scaleable:focus-within {
    transform: scale(1.01, 1.01);
    z-index: 1000;
}

label {
    color: $main-color;
    display: block;
    opacity: 1;
    transition: all 0.3s;
    text-align: start;
}

input {
    box-shadow: none;
    border-radius: 0px;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    transition: all 0.5s;
    padding: 2px;
    pointer-events: all;
}

textarea {
    border-style: solid;
    resize: vertical;
    width: 100%;
}

input,
textarea {
    font-family: inherit;
}

input::placeholder,
textarea::placeholder {
    color: transparent;
    user-select: none;
}

input:focus,
textarea:focus {
    box-shadow: none;
    outline: none;
    border-color: $main-color;
}

.floating-label-container:focus-within label,
.floating-label-container input:not(:placeholder-shown) + label,
.floating-label-container input:-webkit-autofill + label,
.floating-label-container textarea:focus + label,
.floating-label-container textarea:not(:placeholder-shown) + label,
.floating-label-container .labelOfFilledInput {
    transform: translateY(-2.5em) scale(0.8);
    padding-left: 0px;
}

.disabled label {
    cursor: initial;
}

.labeltext {
    user-select: none;
    transform-origin: 0 0;
    transform: translateY(-1.25em);
    pointer-events: none;
    white-space: nowrap;
}

input:disabled {
    cursor: initial;
}

.slide-right-leave-active,
.slide-right-enter-active,
.slide-left-enter-active,
.slide-left-leave-active {
    transition: 0.5s;
}

.slide-left-leave-to,
.slide-right-enter-active {
    transform: translateX(calc(100% + 14px));
}

.slide-left-enter-active .slide-left-enter-to,
.slide-right-leave-to,
.slide-left-enter-from {
    transform: translateX(-100%);
}

.slide-left-leave-active .slide-left-enter-from,
.slide-right-enter-to {
    transform: translateX(0%);
}

.slide-left-enter-active,
.slide-right-enter-to {
    transition-delay: 0.5s;
}

.slide-right-enter,
.slide-right-leave-to,
.slide-left-enter,
.slide-left-leave-to {
    opacity: 0;
}

.error-icon {
    position: absolute;
    width: 20px;
    right: 20px;
    top: 0px;
    svg {
        fill: #cc0000;
    }
}

.reset-icon {
    position: absolute;
    width: 20px;
    left: -30px;
    top: 8px;
    svg {
        fill: $main-color;
    }
    cursor: pointer;
}

.slidingForm {
    overflow: hidden !important;
}

.invalid-button {
    transition: opacity 0.75s ease;
}

.invalid-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.subtitle-container {
    text-align: center;
    height: fit-content;
    width: 100%;
}

.content-container {
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: overlay;
}

.top-controller-container {
    position: relative;
    height: 40px;
    width: 100%;
}

.lock-container {
    height: 24px;
    display: inline;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -12px;
}

.lock-container:hover {
    cursor: pointer;
}

.buttons-container {
    gap: 10px;
}

.so-disabled-input {
    background-color: $disabled-fill-base;
    border-color: $disabled-border-base;
    color: $disabled-color-base;
    cursor: not-allowed;
}

.form-with-buttons {
    display: grid;
    grid-template-rows: auto 50px;
    padding: 10px;
}
