@import './quasar.variables.scss';
// app global css in SCSS form

@font-face {
    font-family: gentona-bold;
    src: url(./fonts/gentona-extrabold.woff);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.spark {
    background-color: #0acf7a;
    font-family: 'Helvetica', sans-serif;
    visibility: hidden;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 30%;
    box-shadow: 0 0 5px #007843;
}

.gentona-bold {
    font-family: 'gentona-bold';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.accent-hover,
.accent-primary {
    transition: color $hover-transition;
}

.accent-hover {
    &:hover {
        color: $accent;
    }
}

.accent-primary {
    &:hover {
        color: $primary;
    }
}
